<% container_color('green')%>
<div id="signup" class="container">
<div id="chooseteam" class="container">
<h2>Välj ett team</h2>

  <p>Vi kan välja ett team åt dig</p>
  <%= link_to "Välj lag åt mig", automatic_selection_path, class: 'button', method: :post %>

  <p>Eller så kan du välja ett lag själv
  Vi behöver <%= @competence.plural %> i dessa lag:</p>

  <% @sorted_teams[:available_teams].each do |team| %>
    <%= link_to fill_email_path(team: team.id), method: :post, class: 'button_filler button_choose_team' do %>
      <span class="button_filler_opaque" style="width: <%= 99 - team.filled_spots_percentage %>%"></span>
      <%# 101 to fix css rounding errors and make the button_filler_opaque and transparent overlap %>
      <span class="button_filler_transparent" style="width: <%= 2 + team.filled_spots_percentage %>%"></span>
      <span class="button_filler_text"><%= team.name %></span>
    <% end %>
    <p class="spots_left"><%= team.spots_left %> platser kvar</p>
    <p><%# team.filled_spots_percentage %></p>
  <% end %>

  <p class="semibold" >Övriga lag</p>

  <% @sorted_teams[:competence_filled_teams].each do |team| %>
    <%= link_to fill_email_path(team: team.id), method: :post, class: 'button_filler button_choose_team' do %>
      <span class="button_filler_opaque" style="width: <%= 99 - team.filled_spots_percentage %>%"></span>
      <%# 101 to fix css rounding errors and make the button_filler_opaque and transparent overlap %>
      <span class="button_filler_transparent" style="width: <%= 2 + team.filled_spots_percentage %>%"></span>
      <span class="button_filler_text"><%= team.name %></span>
    <% end %>
    <p class="spots_left"><%= team.spots_left %> platser kvar</p>
  <% end %>

  <% @sorted_teams[:full_teams].each do |team| %>
    <%= link_to fill_email_path(team: team.id), method: :post, class: 'button_full button_choose_team' do -%>
      <span><%= team.name %></span>
    <% end %>
    <p class="spots_left"> Fullt! </p>
  <% end %>

</div>
<%= link_to "Tillbaka", choose_competence_path, class: 'btn positive' %>

