<% container_color('primary')%>
<% container_id('choose_team') %>
<h1 class="center_text"><%= t('.heading') %></h1>
<p class="center_text"><%= t('.assign_automatically') %></p>
<%= link_to t('.choose_my_team'), automatic_selection_path, class: 'btn_secondary', method: :post %>
<p class="center_text"><%= t('.or_choose_myself', competence:  t(".competences.#{@human.competence.name}")) %></p>

  <% @sorted_teams[:available_teams].each do |team| %>
    <%= link_to save_team_path(team: team.id), method: :post, class: 'btn_filler' do %>
      <span class="btn_filler__opaque" style="width: <%= 100 - team.filled_spots_percentage %>%"></span>
      <span class="btn_filler__transparent" style="width: <%= team.filled_spots_percentage %>%"></span>
      <span class="btn_filler__text"><%= team.name %></span>
    <% end %>
    <p class="spots_left center_text"><%= t('.spots_left', count: team.spots_left) %></p>
  <% end %>


  <% if @sorted_teams[:competence_filled_teams].length > 0 ||
        @sorted_teams[:full_teams].length > 0   %>
    <%# Only display other teams headline if there are other teams %>
    <p class="semibold center_text"><%= t('.other_teams') %></p>
  <% end %>

    <% @sorted_teams[:competence_filled_teams].each do |team| %>
      <%= link_to save_team_path(team: team.id), method: :post, class: 'btn_filler' do %>
        <span class="btn_filler__opaque" style="width: <%= 100 - team.filled_spots_percentage %>%"></span>
        <span class="btn_filler__transparent" style="width: <%= team.filled_spots_percentage %>%"></span>
        <span class="btn_filler__text"><%= team.name %></span>
      <% end %>
      <p class="spots_left center_text"><%= t('.spots_left', count: team.spots_left) %></p>
    <% end %>

  <% @sorted_teams[:full_teams].each do |team| %>
    <%= link_to save_team_path(team: team.id), method: :post, class: 'btn_filler' do -%>
      <span class="btn_filler__opaque" style="width: 100%"></span>
      <span class="btn_filler__text"><%= team.name %></span>
    <% end %>
    <p class="spots_left center_text"><%= t('.spots_left', count: 0) %> Fullt! </p>
  <% end %>

<p><%= t('.switch_expertise') %></p>
<p><%= t('.pick_another_team') %></p>
</div>



