<% container_color('green')%>
<div id="signup" class="container">
<div id="chooseteam" class="container">
<h2>Välj ett team</h2>
  <p>Coolt! Vi behöver <%= @title[:plural] %> i dessa lag:</p>
  <% @all_teams.each do |team| %>
    <% if @available_teams.include?(team) %>
      <%= link_to fill_email_path(team: team.id), method: :post, class: 'button_filler button_choose_team' do %>
        <span class="button_filler_opaque" style="width: <%= team.filled_spots_percentage(@competence) %>%"></span>
        <%# 101 to fix css rounding errors and make the button_filler_opaque and transparent overlap %>
        <span class="button_filler_transparent" style="width: <%= 101 - team.filled_spots_percentage(@competence) %>%"></span>
        <span class="button_filler_text"><%= team.name %></span>
      <% end %>
      <p class="uppercase"><%= team.competence_spots_left(@competence) %> <%= @title[:singular] %>platser kvar</p>
      <p><%= team.filled_spots_percentage(@competence) %></p>
    <% else %>
      <p class='button_full button_choose_team'><%= team.name %> - Full</p>
    <% end %>
  <% end %>
</div>
