<%= container_color('white') %>
<%= container_id('fill_email') %>
  <%= form_tag(save_email_path) do %>

    <h1 class="center_text semibold_pt">
      <%= t('.your_team') %>
      <%= @human.team.name %>.
      <br>
      <%= label_tag(:email, t('.heading')) %>
    </h1>
    <%= label_tag(:email, t('.no_spam'), class: 'no_spam center_text') %>


    <% if session[:automatic_selection] == true %>
      <p>
          <%= t('.your_team') %>
          <%= @human.team.name %>
      </p>
    <% end %>

    <% if flash[:notice].present? %>
      <% flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <div class="labeled_input">
      <%= label_tag(:email, t('.type_email'), class: 'labeled_input__label') %>
      <%= email_field_tag :email, @human.email, placeholder: t('.placeholder'),
        class: 'labeled_input__input', 'data-placeholder' => t('.placeholder') %>
    </div>
    <%= submit_tag t('.send_application'), id:'submit_button', class: 'btn_primary' %>
  <% end %>
  <p class="center_text pul"><%= t(".pul") %></p>
</div>
