<div id="email" class="container formpage">
  <%= form_tag(confirmation_path) do %>
   <h2><%= label_tag(:email, 'Nästan klar! Nu behövs bara din mail.') %></h2>
    <%= label_tag(:email, '(No spam, promise)', class: 'no_spam') %>
    <% if !:email.blank? %>
    <% flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
    <%= email_field_tag(:email, '', placeholder: 'Skriv din e-postadress') %>
    <%= submit_tag 'Skicka anmälan', id:'submit_button' %>
    <% end %>

</div>
