<% container_color('black')%>
<% container_id('receipt')%>
<h2 class="center_text">
  Du är anmäld till Midhack i lag
  <span class="center_text underline">
     <%= @team_name %>
  </span>
</h2>
<br>
<br>
<p class="center_text">
  Välkommen till Midhack den 14-15 november på Mittuniversitetet.
  Kontakta gärna ditt lag och spåna idéer inför eventet.
</p>
<ul class="list_of_team_members">
  <% @list_of_emailaddresses_and_competences.each do |teammate| %>
    <li>
      <a href="mailto:<%= teammate.first %>" class="email"><%= teammate.first %></a>
      <p class="uppercase competence"><%= teammate.second %></p>
    </li>
  <% end %>
</ul>

<p>Psst! Glöm inte tipsa dina vänner om att gå med i lag <%= @team_name %>.</p>
<ul class="list_of_sharables">
  <li>
    <%= link_to_facebook do %>
      <div class="icon"></div>
      <div class="social_share_label uppercase">Dela på facebook</div>
    <% end %>
  </li>
  <li>
    <%= link_to_twitter do %>
      <div class="icon"></div>
      <div class="social_share_label uppercase">Dela på twitter</div>
    <% end %>
  </li>
  <li>
    <%= link_to_googleplus do %>
      <div class="icon"></div>
      <div class="social_share_label uppercase">Dela på google+</div>
    <% end %>
  </li>
  <li>
    <%= link_to_linkedin do %>
      <div class="icon"></div>
      <div class="social_share_label uppercase">Dela på linkedin</div>
    <% end %>
  </li>
</ul>
<br>
<%= link_to 'Lägg till i kalender', ical_path, class: 'btn_secondary' %>
<%= link_to "Jag vill läsa mer", why_path, class: 'btn_supplementary inline-block', id:'why_button' %>
<br>
<p>Fått förhinder och måste avanmäla dig?</p>
<%= link_to 'Klicka här för att avanmäla', why_path %>
<ul class="list_of_logos">
  <li>
    <a href="http://www.mittmedia.se/" class="mittmedia">
      <div class="mittmedia"></div>
    </a>
  </li>
  <li>
    <a href="http://www.miun.se/naringslivosamhalle/foretag-och-organisation/miuninnovation" class="miun">
      <div class="miun"></div>
    </a>

  </li>
  <%# link_to "Tillbaka", fill_email_path, class: 'btn positive' %>
</ul>

