
<% container_color('black')%>
<% container_id('receipt')%>
<h2 class="center_text">
  <%= t('.heading') %>
  <span class="center_text underline">
     <%= @team_name %>
  </span>
</h2>
<br>
<br>
<p class="center_text">
  <%= t('.gather_team') %>
</p>
<ul class="list_of_team_members">
  <% @team_member_details.each do |teammate| %>
    <li>
      <a href="mailto:<%= teammate.first %>" class="email"><%= teammate.first %></a>
      <p class="uppercase competence"><%= t(".competences.#{teammate.second}") %></p>
    </li>
  <% end %>
</ul>

<p><%= t('.tip_friends', team: @team_name) %></p>
<ul class="list_of_sharables">
  <li>
    <%= link_to_facebook do %>
      <div class="icon"></div>
    <% end %>
  </li>
  <li>
    <%= link_to_twitter do %>
      <div class="icon"></div>
    <% end %>
  </li>
  <li>
    <%= link_to_googleplus do %>
      <div class="icon"></div>
    <% end %>
  </li>
  <li>
    <%= link_to_linkedin do %>
      <div class="icon"></div>
    <% end %>
  </li>
</ul>
<br>
<%= link_to t('.add_to_calendar'), ical_path, class: 'btn_secondary' %>
<%= link_to t('.read_more'), why_path, class: 'btn_supplementary inline-block', id:'why_button' %>
<br>
<p><%= t('.drop_out_question') %></p>
<%= link_to t('.drop_out_action'), quit_path(uuid: @human.uuid), id: 'drop_out_action' %>

