<%= container_color('primary') %>
<%= container_id('fill_email') %>
  <%= form_tag(save_reservation_email_path) do %>
    <h1 class="center_text">
      <%= label_tag(:email, t(".heading")) %>
    </h1>
    <p><%= t(".text_waitinglist") %></p>
    <%= label_tag(:email, t(".no_spam"), class: 'no_spam center_text') %>
    <% if flash[:notice].present? %>
      <% flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <div class="labeled_input">
      <%= label_tag(:email, t(".type_email"), class: 'labeled_input__label') %>
      <%= email_field_tag(:email, '', placeholder: t('.placeholder'), class: 'labeled_input__input') %>
    </div>
    <%= submit_tag t(".send_application"), id:'submit_button', class: 'btn_primary' %>
  <% end %>
  <%# link_to "Tillbaka", choose_competence_path, class: 'btn positive' %>
</div>
