<% container_color('white')%>
<% container_id('signup')%>
<h1 class="center_text">Vad pluggar du?</h1>
<% @courses.each do |course| %>
  <button class="course btn_selectable full_width" data-id="<%= course.id %>" >
    <span class="course__heading"><%= course.name %></span> <br> <small class="uppercase"><%= course.code %></small>
  </button>
  <div class="year hidden" id="course_years<%= course.id %>">
    <% course.max_years.times do |year| %>
        <%= link_to "År #{year+1}", choose_competence_path(course: course.code, year: year+1), method: :post, class: 'btn_circular' %>
    <% end %>
  </div>
<% end %>
<!-- TODO Remove this later -->
<%= button_to "Tillbaka", root_path, class: 'btn_supplementary' %>
