<h2>Vad pluggar du?</h2>
<% @institutions.each do |institution| %>
  <h3><%= institution.name %></h3>
  <% institution.courses.each do |course| %>
    <fieldset>
      <button class="btn">
        <%= course.name %> <br> <%= course.code.upcase %>
      </button>
      <% years = course.points/60 %>
      <% years.times do |year| %>
        <%= button_to "År #{year+1}", choose_team_path(institution: institution.code, course: course.code, year: year+1), method: :post %>
      <% end %>
    </fieldset>
  <% end %>
<% end %>
<%= link_to "Tillbaka", root_path, class: 'btn warning' %>
