<% @studies.each do |institution| %>
  <%
    code = institution[0]
    name = institution[1][:name]
    courses = institution[1][:courses]
  %>

  <p><%= pp code %> = <%= pp name %></p>
  <ul>
    <% courses.each do |course| %>
      <li><%= course[0] %>: <%= course[1] %></li>
    <% end %>
  </ul>

<% end %>

<script>
  var studies = <%= j @studies.to_json.html_safe %>;
</script>
