<% container_color('black')%>
<% container_id('unregistered') %>

<h2 class="center_text">
  <%= t(".heading") %>
</h2>
<p class="center_text">
  <%= t(".text") %>
</p>
<br>
<br>
<%= link_to t(".new_registration"), signup_path, class: 'btn_secondary' %>
<br>
<br>
<small class="center_text">

</small>
<p class="center_text"><small>
  <%= t(".tip_friends") %>
</small></p>
<ul class="list_of_sharables">
  <li>
    <%= link_to_facebook do %>
      <div class="icon"></div>
    <% end %>
  </li>
  <li>
    <%= link_to_twitter do %>
      <div class="icon"></div>
    <% end %>
  </li>
  <li>
    <%= link_to_googleplus do %>
      <div class="icon"></div>
    <% end %>
  </li>
  <li>
    <%= link_to_linkedin do %>
      <div class="icon"></div>
    <% end %>
  </li>
</ul>
