<% container_color('white')%>
<% container_id('what')%>
<h1 class="center_text"><%= t('.heading') %></h1>

<div class="text">
  <p><%= t('.text_1') %></p>
  <p><%= t('.text_2') %></p>
  <p><%= t('.tease') %></p>
</div>

<% if @is_signed_up %>
  <%= link_to t('.my_receipt'), receipt_path, class: 'btn_primary', id:'receipt_button' %><br>
  <%= link_to t('.signup_friend'), signup_path(force: true), class: 'btn_secondary', id:'new_signup_button' %>
<% else %>
  <%= link_to t('.primary_action'), signup_path, class: 'btn_primary', id:'signup_button' %>
<% end %>
<br>
<center>
  <%= link_to t('.secondary_action'), why_path, class: 'btn_supplementary inline-block', id:'why_button' %>
</center>
