<% container_color('black')%>
<% container_id('why')%>

<h1 class="center_text"><%= t(".heading") %></h1>
<p><%= t(".text_1") %></p>
<p><%= t(".text_2") %></p>

<h3><%= t(".subtitle_1") %></h3>
<p><%= t(".text_3") %></p>

<ul class="list_with_info">
  <li>
    <center><div class="icon place"></div></center>
    <small class ="uppercase semibold"><%= t(".title_place") %></small>
    <p class="text_primary_color"><%= t(".place") %></p>
  </li>
  <li>
    <center><div class="icon price"></div></center>
    <small class ="uppercase semibold"><%= t(".title_price") %></small>
    <p class="text_primary_color"><%= t(".price") %></p>
  </li>
  <li>
    <center><div class="icon date"></div></center>
    <small class ="uppercase semibold"><%= t(".title_date") %></small>
    <p class="text_primary_color"><%= t(".date") %></p>
  </li>
  <li>
    <center><div class="icon spots_left"></div></center>
    <small class ="uppercase semibold"><%= t(".title_spots_left") %></small>
    <p class="text_primary_color"><%= @nr_spots_left %></p>
  </li>
</ul>
<br>
<h3><%= t(".subtitle_2") %></h3>
<p><%= t(".text_4") %></p>
<br>
<br>
<% if !@signed_up %>
  <p><%= t(".tease") %></p>
  <%= link_to t(".primary_action"), choose_education_path, class: 'btn_primary', id:'signup_button' %><br>
<% end %>
<center>
  <button class="btn_supplementary inline-block", onclick=history.back()><%= t(".secondary_action") %></button>
</center>
