<% container_color('black')%>
<% container_id('why')%>

<h1 class="center_text"><%= t(".heading") %></h1>
<p><%= t(".text_1") %></p>
<p><%= t(".text_2") %></p>

<h3><%= t(".subtitle_1") %></h3>
<p><%= t(".text_3") %></p>

<ul class="list_with_info">
  <li>
    <center><div class="icon place"></div></center>
    <small class ="uppercase semibold"><%= t(".title_place") %></small>
    <p class="text_primary_color"><%= t(".place") %></p>
  </li>
  <li>
    <center><div class="icon price"></div></center>
    <small class ="uppercase semibold"><%= t(".title_price") %></small>
    <p class="text_primary_color"><%= t(".price") %></p>
  </li>
  <li>
    <center><div class="icon date"></div></center>
    <small class ="uppercase semibold"><%= t(".title_date") %></small>
    <p class="text_primary_color"><%= t(".date") %></p>
  </li>
  <li>
    <center><div class="icon spots_left"></div></center>
    <small class ="uppercase semibold"><%= t(".title_spots_left") %></small>
    <p class="text_primary_color"><%= @nr_spots_left %></p>
  </li>
</ul>
<br>
<div class="programme_container">
<h3><%= t(".subtitle_2") %></h3>
  <div class="border">
    <ul class="programme">
      <li class="right">
        <small class="uppercase semibold padding_20px_left right_dot">11:00</small>
        <p class="text_primary_color program_point padding_40px_left">Välkommen</p>
        <%# <p class="description padding_40px_left">Teamen kickas igång. Presentation av Mittmedia, API-intro och intro till "Kan du lova"-datan</p> %>
      </li>
      <li class="right">
        <small class="uppercase semibold padding_20px_left right_dot">12:00</small>
        <p class="text_primary_color program_point padding_40px_left">Hacket drar igång</p>
        <%#<p class="description padding_40px_left">Mittuniversitetet bjuder på lunch.</p> %>
      </li>
      <li class="left">
        <small class="uppercase semibold padding_20px_right left_dot">14:00</small>
        <p class="text_primary_color program_point padding_40px_right">Fika</p>
        <%#p class="description padding_40px_right">MittMedia DMU pratar om att jobba på MittMedia</p> %>
      </li>
      <li class="right">
        <small class="uppercase semibold padding_20px_left right_dot">18:00</small>
        <p class="text_primary_color program_point padding_40px_left">Middag</p>
        <%# <p class="description padding_40px_left">...</p> %>
      </li>
      <li class="left">
        <small class="uppercase semibold padding_20px_right left_dot">06:00-08:00</small>
        <p class="text_primary_color program_point padding_40px_right">Frukost</p>
        <%# <p class="description padding_40px_right">...</p> %>
      </li>
      <li class="right">
        <small class="uppercase semibold padding_20px_left right_dot">12:00</small>
        <p class="text_primary_color program_point padding_40px_left">Arbetet lämnas in</p>
        <%# <p class="description padding_40px_left">...</p> %>
      </li>
      <li class="left">
        <small class="uppercase semibold padding_20px_right left_dot">12:10</small>
        <p class="text_primary_color program_point padding_40px_right">Presentation av arbetet</p>
        <%# <p class="description padding_40px_right">Front-end</p> %>
      </li>
      <li class="right">
        <small class="uppercase semibold padding_20px_left right_dot">14:00</small>
        <p class="text_primary_color program_point padding_40px_left">Prisutdelning</p>
        <%# <p class="description padding_40px_left">...</p> %>
      </li>
    </ul>
  </div>
</div>
<br>
<br>
<br>
<br>
<% if !@signed_up && !@on_waiting_list %>
  <p><%= t(".tease") %></p>
  <%= link_to t(".primary_action"), choose_education_path, class: 'btn_primary', id:'signup_button' %><br>
<% end %>
<center>
  <button class="btn_supplementary inline-block", onclick=history.back()><%= t(".secondary_action") %></button>
</center>
