<% body_style = "font: 16px/1.5em 'Duplex Sans', Helvetica, Verdana, Arial, sans-serif; color: #3C3C3B; text-align: justify;" %>
<% image_style = "margin-top: 2em; margin-bottom: 2em; margin: 0 auto;" %>
<% h1_style = "font: 25px/1.25em 'Duplex Sans', Helvetica, Verdana, Arial, sans-serif; color: #3C3C3B;" %>
<% h2_style = "font: 20px/1.25em 'Duplex Sans', Helvetica, Verdana, Arial, sans-serif; color: #00a6cc;" %>
<% url_style = "color: #3C3C3B; text-decoration: none; border-bottom: 1px solid #00A6CC;" %>

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="width: 300px; margin: 0 auto; display: block;">
    <%= image_tag asset_path('mailresources/logo.png'), width: '300', height: '157', alt: 'Midhack 2015', title: 'Midhack 2015' %>
      <h1 style="<%= h1_style %>">
        Nu släpper vi datan!
      </h1>
      <p style="<%= body_style %>">Under Midhack 2015 kommer ni få möjlighet att arbeta med data från "Kan du lova?" samt Overview News. På <a href="<%= @data_url %>" style="<%= url_style %>">Midhack.se/data</a> finner ni tips på API:er, datakällor, verktyg, litteratur, användbara artiklar med mera. Det är även fritt fram att använda andra datakällor och verktyg som inte omnämns här. Börja gärna kolla på intressanta data och verktyg redan nu så har ni ett litet försprång när hackathonet drar igång.</p>

      <h2 style="<%= h2_style %> text-align: left;">
        Kan du lova?
      </h2>
      <a href="<%= @kandulova_url %>"><%= image_tag asset_path('sources/kandulova_resized.png'), width: '300', height: '240', alt: 'Kan Du Lova?', title: 'Kan Du Lova?', style: image_style %></a>
      <p style="<%= body_style %>">
        Vi är glada att kunna meddela att ni kommer att få tillgång till "Kan du lova?"-datan som samlades in inför valet 2014.
        "Kan du lova?" är en tjänst skapad av MittMedia och J++ där väljarna fick möjlighet att ställa frågor till politiker inför valet. Datat som genererades användes som underlag för journalistik, och löftena kan utvärderas journalistiskt i efterhand.
        Vi tror att det kan finnas mycket spännande data med nyhetsvärde här, kanske kan något lag lämna Midhack med ett riktigt scoop.
      </p>
      <p style="<%= body_style %>">
        Mer info hittar du på
        <a href="<%= @kandulova_url %>" style="<%= url_style %>">
           midhack.se/kandulova
        </a>.
        Ni kan ladda ned datan med tillhörande dokumentation <a href="<%= @kandulova_data_url %>" style="<%= url_style %>">här</a>. Det är fritt fram att redan nu kolla på och sätta sig in i datan, dock skulle vi på MittMedia och Midhack crew uppskatta att ni inte sprider datan vidare. Inte för att det är hemlig data utan snarare för att vi själva inte hunnit göra journalistik på den ännu.
      </p>

      <h2 style="<%= h2_style %>">
        Overview News
      </h2>
      <a href="<%= @overviewnews_url %>"><%= image_tag asset_path('sources/overview_news_logo.png'), width: '300', height: '175', alt: 'Overview News', title: 'Overview News', style: image_style %></a>
      <p style="<%= body_style %>">
        Overview News indexerar internationella, nationella samt lokala nyheter (dock för närvarande begränsat till Sverige) i syfte att underlätta för journalister och systemutvecklare samt bidra till fler innovativa nyhetslösningar. Med hjälp av deras API kan nyhetsdata integreras i era egna system, API:et kan även användas för att genomföra avancerade sökningar bland indexerade artiklar och ger möjlighet till kvalificerad analys. För att komma åt Overview News API:et krävs att man har en API-nyckel, dessa kommer att skickas ut till er så fort anmälan till Midhack 2015 har stängts.
        Mer info hittar du på
        <a href="<%= @overviewnews_url %>" style="<%= url_style %>">
           overviewnews.com
        </a>.
      </p>

      <h2 style="<%= h2_style %> text-align: left;">Facebookgrupp</h2>
      <p style="<%= body_style %>">Gå gärna med i <a href="<%= @facebook_url %>" style="<%= url_style %>">Facebookgruppen</a> och snacka med andra Midhackers, dela och bolla idéer. Här kommer så småning om även bilder från eventet att laddas upp.</p>
      <br>
      <p style="<%= body_style %>">
        P.S. Anmälan till Midhack stänger 2015-11-08, så glöm inte att tipsa dina studiekamrater!
      </p>

      <p style="font: 16px/1.5em 'Duplex Sans', Helvetica, Verdana, Arial, sans-serif; color: #3C3C3B;">
        Har du några frågor kan du <a href="mailto:crew@midhack.se" style="color: #00A6CC; text-decoration: none; font-weight: 100;">maila oss</a> eller <a href="mailto:Teresia.Edling@miun.se" style="color: #00A6CC; text-decoration: none;
          font-weight: 100;">Teresia</a>. Vi ses!
        <a href="mailto:crew@midhack.se" style="color: #00A6CC; text-decoration: none;
          font-weight: 100;">/Midhack Crew
        </a>
      </p>
      <p style="font: 13px/1.35em 'Duplex Sans', Helvetica, Verdana, Arial, sans-serif; color: #3C3C3B;">
        Fått förhinder? <br/>
        <a href="<%= @unsubscribe_url %>" style="color: #00A6CC; text-decoration: none; font-weight: 100;">Avanmäl dig från Midhack</a>
      </p>
    </div>
  </body>
</html>
