Nu släpper vi datan!
====================

Under Midhack 2015 kommer ni få möjlighet att arbeta med data från "Kan du lova?" samt Overview News. Tips på API:er, datakällor, verktyg, litteratur, användbara artiklar med mera finner ni på:
<%= @data_url %>

Det är även fritt fram att använda andra datakällor och verktyg som inte omnämns här. Börja gärna kolla på intressanta data och verktyg redan nu så har ni ett litet försprång när hackathonet drar igång.</p>

Kan du lova?
============

Vi är glada att kunna meddela att ni kommer att få tillgång till "Kan du lova?"-datan som samlades in inför valet 2014.
"Kan du lova?" är en tjänst skapad av MittMedia och J++ där väljarna fick möjlighet att ställa frågor till politiker inför valet.
Datat som genererades användes som underlag för journalistik, och löftena kan utvärderas journalistiskt i efterhand.
Vi tror att det kan finnas mycket spännande data med nyhetsvärde här, kanske kan något lag lämna Midhack med ett riktigt scoop.

Mer info hittar du på:
<%= @kandulova_url %>

Ni kan ladda ned datan med tillhörande dokumentation här:
<%= @kandulova_data_url %>

Det är fritt fram att redan nu kolla på och sätta sig in i datan, dock skulle vi på MittMedia och Midhack crew uppskatta att ni inte sprider datan vidare. Inte för att det är hemlig data utan snarare för att vi själva inte hunnit göra journalistik på den ännu.


Overview News
=============

Overview News indexerar internationella, nationella samt lokala nyheter i syfte att underlätta för journalister och systemutvecklare samt bidra till fler innovativa nyhetslösningar. Med hjälp av deras API kan nyhetsdata integreras i era egna system, API:et kan även användas för att genomföra avancerade sökningar bland indexerade artiklar och ger möjlighet till kvalificerad analys. För att komma åt Overview News API:et krävs att man har en API-nyckel, dessa kommer att skickas ut till er så fort anmälan till Midhack 2015 har stängts.
Mer info hittar du på:
<%= @overviewnews_url %>

Gå gärna med i Facebookgruppen: <%= @facebook_url %>
Här kan du snacka med andra Midhackers, dela och bolla idéer. Här kommer så småning om även bilder från eventet att laddas upp.


P.S. Anmälan till Midhack stänger 2015-11-08, så glöm inte att tipsa dina studiekamrater!

Har du några frågor kan du maila till Midhack Crew <crew@midhack.se> eller direkt till Teresia Edling <Teresia.Edling@miun.se>.

Vi ses!
/Midhack Crew

Fått förhinder? Avanmäl dig från Midhack:
<%= @unsubscribe_url %>
