<% body_style = "font: 16px/1.5em 'Duplex Sans', Helvetica, Verdana, Arial, sans-serif; color: #3C3C3B; text-align: justify;" %>
<% image_style = "margin-top: 2em; margin-bottom: 2em; margin: 0 auto;" %>
<% h1_style = "font: 25px/1.25em 'Duplex Sans', Helvetica, Verdana, Arial, sans-serif; color: #3C3C3B;" %>
<% h2_style = "font: 20px/1.25em 'Duplex Sans', Helvetica, Verdana, Arial, sans-serif; color: #00a6cc;" %>
<% url_style = "color: #3C3C3B; text-decoration: none; border-bottom: 1px solid #00A6CC;" %>

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="width: 300px; margin: 0 auto; display: block;">
    <%= image_tag asset_path('mailresources/logo.png'), width: '300', height: '157', alt: 'Midhack 2015', title: 'Midhack 2015' %>
      <h1 style="<%= h1_style %>">
        Snart drar Midhack 2015 igång
      </h1>
      <p style="<%= body_style %>">Nu är anmälan till årets Midhack stängd och här kommer lite nyttig information inför eventet.</p>

     <h2 style="<%= h2_style %> text-align: left;">Specialkost</h2>
      <p style="<%= body_style %>">
        Självklart vill vi att alla ska kunna äta sig mätta under Midhack, har du några matallergier eller matpreferenser meddela oss genom att fylla i <a href="<%= @special_diet_form_url %>" style="<%= url_style %>">det här formuläret</a> senast den 12e november.
      </p>

      <h2 style="<%= h2_style %>">
         API-nycklar till Overview News
      </h2>
      <a href="<%= @overviewnews_url %>"><%= image_tag asset_path('sources/overview_news_logo_resized.png'), width: '300', height: '175', alt: 'Overview News', title: 'Overview News', style: image_style %></a>
      <p style="<%= body_style %>">
        API-nycklar
        <br>
        Mer info hittar ni på <a href="<%= @overviewnews_url %>" style="<%= url_style %>"> overviewnews.com </a>.
      </p>

      <h2 style="<%= h2_style %>">
         Kort info
      </h2>

      <p style="<%= body_style %>">
        Midhack drar igång kl 11:00 lördag den 14e November och håller på till ca kl 15 på söndag, se programmet på <a href="<%= @programme_url %>" style="color: #3C3C3B; text-decoration: none; border-bottom: 1px solid #00A6CC;">midhack.se/programme</a> för mer info.
      </p>
      <p style="<%= body_style %>">
        Ni kommer att ha 24 timmar på er att arbeta fram någonting att presentera för juryn och de andra lagen (observera att det inte finns något krav på att ni ska leverera något som är färdigt, huvudsaken är att ni haft roligt och lärt er något).
      </p>
      <p style="<%= body_style %>">
        Vi bjuder på fika, middag och frukost så ni ska inte behöva gå hungriga.
      </p>
      <p style="<%= body_style %>">
        Söndag den 15e är det dags för prisutdelning. Bjud gärna in klasskamrater, kompisar, familj och bekanta till presentationen och prisutdelningen.
      </p>

      <h2 style="<%= h2_style %> text-align: left;">Förhållningsregler</h2>
      <p style="<%= body_style %>">
        Vi i Midhack crew tycker att det är viktigt att alla mår bra och känner sig trygga på Midhack, därför har vi tagit fram några förhållningsregler som kommer att gälla under hackathonet. Dessa förhållningsregler finns att läsa i sin helhet på <a href="<%= @code_of_conduct_url %>" style="<%= url_style %>"> midhack.se/what</a>. Kontentan är att vi ska vara snälla mot varandra och dela med oss av våra kunskaper för att alla ska få en så rolig och lärorik upplevelse som möjligt. Våld, droger, trakasserier och diskriminering av något slag är inte okej och kan resultera i avstängning från hackathonet.
      </p>
      <p style="<%= body_style %>">
        Under Midhack kommer Midhack crew att fotografera, om man inte vill att bilder där man själv är med publiceras så ber vi er kontakta oss eller säga det direkt till fotografen.
      </p>

      <h2 style="<%= h2_style %> text-align: left;">Facebookgrupp</h2>
      <p style="<%= body_style %>">Gå gärna med i <a href="<%= @facebook_url %>" style="<%= url_style %>">Facebookgruppen</a> och snacka med andra Midhackers, dela och bolla idéer. Här kommer så småning om även bilder från eventet att laddas upp.</p>
      <br>

      <p style="font: 16px/1.5em 'Duplex Sans', Helvetica, Verdana, Arial, sans-serif; color: #3C3C3B;">
        Har du några frågor kan du <a href="mailto:crew@midhack.se" style="color: #00A6CC; text-decoration: none; font-weight: 100;">maila oss</a> eller <a href="mailto:Teresia.Edling@miun.se" style="color: #00A6CC; text-decoration: none;
          font-weight: 100;">Teresia</a>. Vi ses på lördag!
        <a href="mailto:crew@midhack.se" style="color: #00A6CC; text-decoration: none;
          font-weight: 100;">/Midhack Crew
        </a>
      </p>
      <p style="font: 13px/1.35em 'Duplex Sans', Helvetica, Verdana, Arial, sans-serif; color: #3C3C3B;">
        Fått förhinder? <br/>
        <a href="<%= @unsubscribe_url %>" style="color: #00A6CC; text-decoration: none; font-weight: 100;">Avanmäl dig från Midhack</a>
      </p>
    </div>
  </body>
</html>
