<% container_color('black')%>
<% container_id('data')%>

<center><h1><%= t('.heading') %></h1></center>
<p><%= t('.text_1') %></p>
<p><%= t('.text_2') %></p>
<% @data_categories.each do |category| %>
    <h2 class="data_section_header">
      <%= t(".headings.#{category.slug}") %>
      <span class="downArrow">▼</span>
      <span class="upArrow" style="display: none;">▲</span>
    </h2>
    <section class="data_section" style="display: none;">
    <% category.data_entry.each do |data_entry| %>
      <article class="data_entry">
        <h4 class="data_entry_header"><%= data_entry.heading %></h4>
        <p class="data_entry_summary">
          <%= data_entry.summary %><br>
          <a href="<%= data_entry.url %>"><%= data_entry.url %></a>
        </p>
      </article>
    <% end %>
  </section>
<% end %>
