<% container_color('primary')%>
<% container_id('index')%>
<div class="logo"></div>
<div class="leadin"><%= t('.leadin') %></div>
<% if application_date_expired? %>
  <h2><%= t('.event_canceled') %></h2>
  <p><%= t('.event_canceled_text') %></p>
  <br><br>
<% else %>
  <%= link_to t('.primary_action'), signup_path, class: 'btn_secondary', id:'signup_button' %><br>
<% end %>
<%= link_to t('.action'), what_path, class: 'btn_primary inline-block margin_10px_bottom', id:'what_button' %>
<br>
<% if I18n.locale == :en %>
  <%= link_to t('.switch_language'), root_url(locale: 'sv') %>
<% end %>
<% if I18n.locale == :sv %>
  <%= link_to t('.switch_language'), root_url(locale: 'en') %>
<% end %>
<br>
<br>
<p class="policy"><%= t(".cookies_pul")%> <br> <%= link_to t('.read_more'), policy_path  %> </p>
