<% container_color('black')%>
<% container_id('what')%>

<!-- What is Midhack -->
<h1 class="center_text"><%= t(".heading") %></h1>
<% if @application_date_expired %>
  <p><%= raw t(".text_0", email: mail_to(t(".email"))) %></p>
<% end %>
<p><%= t(".text_1") %></p>
<p><%= t(".text_2") %></p>
<p><%= t(".text_3") %></p>

<!-- Good to Know -->
<h3><%= t(".good_to_know.subtitle_1") %></h3>
<p><%= t(".good_to_know.text_1") %></p>

<ul class="list_with_info">
  <li>
    <center><div class="icon place"></div></center>
    <small class ="uppercase semibold"><%= t(".good_to_know.title_place") %></small>
    <p class="text_primary_color"><%= t(".good_to_know.place") %></p>
  </li>
  <li>
    <center><div class="icon price"></div></center>
    <small class ="uppercase semibold"><%= t(".good_to_know.title_price") %></small>
    <p class="text_primary_color"><%= t(".good_to_know.price") %></p>
  </li>
  <li>
    <center><div class="icon date"></div></center>
    <small class ="uppercase semibold"><%= t(".good_to_know.title_date") %></small>
    <p class="text_primary_color"><%= t(".good_to_know.date") %></p>
  </li>
</ul>
<br>
<br>
<br>
<% unless @application_date_expired %>
  <p><%= t(".interaction.tease") %></p>
  <%= link_to t('.interaction.primary_action'), signup_path, class: 'btn_primary', id:'signup_button' %><br>
<% end %>
<br>
<br>
<br>
<!-- Code of Conduct -->
<h3 id="code_of_conduct"><%= t(".code_of_conduct.subtitle_1") %></h3>
<p><%= t(".code_of_conduct.text_1") %></p>
<h4><%= t(".code_of_conduct.subsubtitle_1") %></h4>
<ul>
  <li><p><%= t(".code_of_conduct.bullet_1") %></p></li>
  <li><p><%= t(".code_of_conduct.bullet_2") %></p></li>
  <li><p><%= t(".code_of_conduct.bullet_3") %></p></li>
  <li><p><%= t(".code_of_conduct.bullet_4") %></p></li>
</ul>
<h4><%= t(".code_of_conduct.subsubtitle_2") %></h4>
<p><%= t(".code_of_conduct.text_2") %></p>
<h4><%= t(".code_of_conduct.subsubtitle_3") %></h4>
<p><%= t(".code_of_conduct.text_3") %></p>
<h4><%= t(".code_of_conduct.subsubtitle_4") %></h4>
<p><%= t(".code_of_conduct.text_4") %></p>
<h4><%= t(".code_of_conduct.subsubtitle_5") %></h4>
<p><%= t(".code_of_conduct.text_5") %></p>
<h4><%= t(".code_of_conduct.subsubtitle_6") %></h4>
<p><%= raw t(".code_of_conduct.text_6", email: mail_to(t(".code_of_conduct.email"))) %></p>
<p><%= t(".code_of_conduct.text_7") %></p>
<p><%= t(".code_of_conduct.text_8") %></p>
<br>
<br>
<br>
<% unless @application_date_expired %>
  <p><%= t(".interaction.tease") %></p>
  <%= link_to t('.interaction.primary_action'), signup_path, class: 'btn_primary', id:'signup_button' %><br>
<% end %>
<center>
  <%= link_to t(".interaction.secondary_action"), programme_path, class: "btn_supplementary inline-block", id: 'programme_button' %>
</center>
