<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @human.name %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @human.occupation %>
</p>

<p>
  <strong>Email:</strong>
  <%= @human.email %>
</p>

<p>
  <strong>Knowledge:</strong>
  <%= @human.knowledge %>
</p>

<p>
  <strong>Social:</strong>
  <%= @human.social %>
</p>

<p>
  <strong>News:</strong>
  <%= @human.news %>
</p>

<p>
  <strong>Phoneos:</strong>
  <%= @human.phoneos %>
</p>

<%= link_to 'Edit', edit_human_path(@human) %> |
<%= link_to 'Back', humen_path %>
