<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<title><%= page_title %></title>
    <meta name="description" content="">
    <meta content="width=device-width, intial-scale=1, maximum-scale=1, user-scalable=0" name="viewport"/>
 	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 	  <%= csrf_meta_tags %>
    <%= render 'shared/favicon' %>
</head>
<body class="">
<div id="<%= yield :container_id %>" class="main_container <%= yield :container_color %>">
  <div class="container">
    <%= yield %>
  </div>
</div>
</body>
</html>
