<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 ie"> <![endif]-->
<!--[if IE 7 ]> <html class="ie7 ie"> <![endif]-->
<!--[if IE 8 ]> <html class="ie8 ie"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html><!--<![endif]-->
<head>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<title><%= page_title %></title>
    <meta name="description" content="">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport"/>

    <!-- Facebook -->
    <meta content="website" property="og:type"/>
    <meta content="Jag har anmält mig till Midhack, gör det du med!" property="og:title"/>
    <meta content="Midhack är ett innovationsevent på MIUN arrangerat i sammarbete med MittMedia. Här möts journalister, ekonomer, designers och utvecklare och skapar morgondagens nyhetsupplevelse." property="og:description"/>
    <meta content="<%= asset_url 'social/midhack-fb.jpg' %>" property="og:image"/>
    <meta content="<%= root_url %>" property="og:url"/>
    <meta content="Midhack 2015" property="og:site_name"/>
    <!-- Twitter cards-->
    <meta content="<%= asset_url 'social/midhack-fb.jpg' %>" name="twitter:card"/>
    <meta content="@midhack2015" name="twitter:site"/>
    <meta content="@midhack2015" name="twitter:creator"/>
    <meta content="Jag har anmält mig till Midhack, gör det du med!" name="twitter:title"/>
    <meta content="Jag har anmält mig till MIUNs innovationsevent Midhack, gör det du också! http://www.midhack.se #Midhack2015 #Midhack #hackaton #MIUN #MittMedia" name="twitter:description"/>
    <meta content="<%= asset_url 'social/midhack-fb.jpg' %>" name="twitter:image"/>

 	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!--[if IE]>
        <style>
            .labeled_input__input {padding: 10px 10px;}
        </style>
    <![endif]-->
 	<%= csrf_meta_tags %>
    <%= render 'shared/favicon' %>

  <script type="text/javascript">
    var doc = document.documentElement;
    var value = navigator.userAgent.indexOf('MSIE 10.0') !== -1 ? 'T' : 'F';
    doc.setAttribute('data-ie10', value);</script>
</head>

<body>

    <header id="<%= yield :container_id %>_header" class="header">
        <div class="header_container">
            <div class="logo"></div>
            <div class="progress_bar">
                <div class="progress_bar_bg"></div>
                <div class="progress_bar_white"></div>
                <div class="ring"></div>
            </div>
        </div>
    </header>

    <div id="<%= yield :container_id %>" class="main_container <%= yield :container_color %>">
      <div class="container">
        <%= yield %>
      </div>
    </div>

    <footer>
      <div class="footer_inner">
        <div class="top"><%= t('footer.text') %></div>
        <div class="footer_link left">
          <a href="http://www.mittmedia.se/" class="mittmedia" target="_blank"></a>
        </div>
        <div class="footer_link right">
          <a href="http://www.miun.se/naringslivosamhalle/foretag-och-organisation/miuninnovation" class="miun" target="_blank"></a>
        </div>
      </div>
    </footer>

    <img src="<%= asset_url 'social/midhack-fb.jpg' %>" style="position: absolute; left: -10px; top: -10px; width: 10px; height: 10px;"/>

</body>
</html>
